* {
    color: #03d09a;
    background-color: #15304e;
    margin: 0px;
    font-family: "Cinzel", serif;
}
#h1{
    background-color: transparent;
    font-size: 83px;
    display: flex
;
    margin-bottom: 10Px;

}
header {
    background-image: url(https://i.pinimg.com/originals/0e/39/c2/0e39c256714a4b7c0299323a82701647.jpg);
   box-shadow:inset 0PX 0px 20px 12px #15304e;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    color: rgb(0, 0, 0);
    margin-bottom: 300PX; 
border-radius: 155PX;
}
#mar{
    font-size: 110PX;
}
#bou{
    margin-bottom: 300PX;
   font-size: 30PX;
}
.g{
    font-size: 37px;
   
    border-radius: 15PX;
    margin-bottom: 38PX;
    padding: 10PX;
}
.t{  border-style: inset;
display: inline-flex;
padding: 3px;
font-size: 40PX;
}
#moif {
    width: 300PX;
    border-radius: 220PX;
    box-shadow:0PX 0PX 6PX 0PX #03d09a;}

#un {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#moi {
    display: flex
;
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: 604PX; */
    align-items: flex-start;
   
}

#spitch {
    width: 427PX;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.carte1 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    box-shadow:9PX 10PX 13PX 3px #000;
       width: 300PX;
   border-radius: 18px;
   margin-bottom: 60PX;
}


.img1 {
    width: 300PX;
    height: 168.750;
    border-radius: 15px;
}
.img2{
    width: 300PX;
    height: 168.750PX;
    border-radius: 15px;

}
.img3{
    width: 300px;
    height: 200px;
    border-radius: 15px;

}

#p1 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.pp {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#p2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#FE {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 150px;
    gap: 243PX;
}

#portof {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150Px;
  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
}

.PCF {
    display: flex
    ;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 315PX;
    
  
}

.mail {
    display: inline-flex
    ;
        /* border-style: inset; */
        flex-direction: column;
        align-items: center;
        width: 213PX}

#contacte {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#cont {
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
margin-bottom: 50px;
}

#c {
    display: flex;
    font-size: 40PX;
    justify-content: center;
    height: 43px;
    width: 107px;
    margin-bottom: 50px;
}

#com {display: inline-flex
    ;
        align-items: center;
        flex-direction: column;
    }

.Z {
    
    display: flex
    ;
        flex-direction: column;
        align-items: center
}.

#story1 {
    width: 200PX;
    height: 30PX;
}

#msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story {
    width: 300PX;
    HEIGHT: 120PX
}
footer{
    background-color: #03d09a;
    color:#15304e;
    display: flex
;
    align-items: center;
    justify-content: center;
    border-radius: 27PX;
    box-shadow: 5PX 3px 20px 11px #03d09a;
}


#np{display: flex
    ;
        flex-direction: column;
        align-items: center;
    }
    #reste{
        display: flex
        ;
            flex-direction: column;
           margin-bottom: 150PX;
            align-items: center;
    }
    #name{
        width: 170PX;
    height: 30PX;
    border-radius:  30px; 
    }
    #namedeux{
        width: 300PX;
    height: 120PX;
    border-radius:  30px; 

    }
    a{border-radius: 20PX;}

    .w{
        border-radius: 20px;
        text-align: center;
    }
    #compétance{
        display: flex
;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150PX;
    }
    #li
    {
        font-size: 25PX;
        display: flex
        ;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
            margin-bottom: 150PX;
    }
    .img4{
        width: 200px;
    height: 178px;
    border-radius: 15px;
    }
    .carte2{
        display: inline-flex
;
    flex-direction: column;
    align-items: center;
    border: solid;
    box-shadow:9PX 10PX 13PX 3px #000;
    width: auto;
    border-radius: 18px;
    }
    #fin{
        color: #15304e;
        background-color: #03d09a;
    }
    #area{
        display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
    }
    #img5{
       width:  525PX;
       box-shadow:inset 0PX 0px 20px 12px #15304e;
    }
    .underline-hover {
        font-size: 3rem;
       
        position: relative;
      }
      
      .underline-hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #03d09a;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
      }
      
      .underline-hover:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
      .interactive-font {
     
        color: #03d09a;
        border-style: groove;
        padding: 6PX;
       text-decoration: none;
      
        border-radius: 15PX;
        margin-bottom: 38PX;
       
        transition: color 0.3s ease;
      }
      
      .interactive-font:hover {
        color: #ffffff;
      }

      .interactive-size {
        
        background-color: #03d09a;
        color: #15304e;
        border-radius: 20Px;
        font-size: 20PX;
        transition: font-size 0.25s ease;
      }
      
      .interactive-size:hover {
        font-size:25px;
        color: #ffffff;
      }
      .N{
        border-style: groove;
        padding: 6PX;
       text-decoration: none;
      }
     
        input[type="text"] {
            border: 2px solid #03d09a;
        }
        @media (max-width: 600px) {
           
            header {
                background-size: contain;
                height: auto;
                padding: 20px;
                margin-bottom: 140PX;
            }
        #spitch{
           width: 163px;
        }
        #img5{
            width: 243PX;
        }
            #moif {
                width: 150px;
                height: 150px;
                border-radius: 100%;
            }
        
            #h1 {
                font-size: 32px;
            }
        
           
            #FE {
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;
                gap: 80PX;
            }
        
            .pp {
                margin-bottom: 20px;
            }
           .PCF{ display: flex
;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80PX;
           } 
            #portof {
                margin-bottom: 80px;
            }
        
           
            .img1,
            .img2,
            .img3 {
                width: 200px;
                height: auto;
            }
        
            
            input[type="text"] {
                width: 90%;
                height: 40px;
                font-size: 14px;
                border-radius: 15px;
                padding-left: 10px;
            }
        
            #name {
                width: 90%;
                height: 40px;
            }
        
            #namedeux {
                width: 90%;
                height: 80px;
            }
        
            .interactive-size {
                font-size: 1.2rem;
                padding: 10px;
            }
        
            
            #reste {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 80px;
            }
        
            .mail {
                width: 100%;
                padding: 10px;
            }
        
            
            #li {
                flex-direction: column;
                align-items: center;
                font-size: 20px;
            }
        
            .carte2 {
                width:auto;
                margin-bottom: 20px;
            }
        
            footer {
                padding: 10px;
                font-size: 14px;
            }
            #area{display: flex
                ;
                    flex-direction:column;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-bottom: 0px;}
                    .carte1{display: inline-flex
                        ;
                            flex-direction: column;
                            align-items: center;
                            border: solid;
                            box-shadow: 9PX 10PX 13PX 3px #000;
                            width: auto;
                            border-radius: 18px;
                            margin-bottom: 50PX;
                        }
                        .w{width: 183PX;
                            border-radius: 20px;
                            text-align: center;}
        }
            
        